<fieldset>
  <legend>
    <p>{{headerContent}}</p>
  </legend>

<table>
  <tr>
    <td>
    UserName:
    </td>
    <td>
      <input #userNameTextBox type="text" [value]="userName" (input)="onUserNameChanged(userNameTextBox.value)"/>
    </td>
  </tr>
  <tr>
    <td>
    Password:
    </td>
    <td>
      <input type="password" [(ngModel)]="password"/>
    </td>
  </tr>
  <tr>
    <td>
    <input type="button" value="Login" (click)="onLogin()"/>
    </td>
    <td>
      <input type="button" value="Clear" (click)="onClear()"/>
    </td>
  </tr>
</table>
</fieldset>


